<configuration>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="json">
    <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
      <appendLineSeparator>true</appendLineSeparator>
      <jsonFormatter
        class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
        <prettyPrint>false</prettyPrint>
      </jsonFormatter>
      <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
    </layout>
  </appender>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%-40logger{36}) - %msg%n
      </pattern>
    </encoder>
  </appender>

  <springProfile name="default">
    <root level="info">
      <appender-ref ref="STDOUT"/>
    </root>
  </springProfile>

  <springProfile name="prod">
    <logger level="info" name="jsonLogger">
      <appender-ref ref="json"/>
    </logger>
    <root level="info">
      <appender-ref ref="json"/>
    </root>
  </springProfile>

</configuration>