<configuration>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%-40logger{36}) - %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger level="INFO" name="io.gatling"/>
  <logger level="TRACE" name="io.gatling.http.ahc"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
